body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
background-color: darkgrey;
}
 .banner-column{
    background-color: darkslategray;
 }
 .navbar-container{
     background-color: #2F4F4F;
 }

 .about-container{
     background-color: dimgrey;
 }