body {
    font-family: 'Open Sans', sans-serif;
}

.banner-container {
    background-color: darkgrey;
}

.banner-column {
    background-color: darkslategray;
}

.navbar-container {
    top: 0;
    background-color: #2F4F4F;
    position: sticky;
    z-index: 2;
}

.nav-item>a {
    text-transform: uppercase;
    display: block;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.about-container {
    background-color: darkgrey;
}

.edutcation-container {
    background-color: #2F4F4F;
}

.portfolio-container {
    background-color: #2F4F4F;
}

.owl-carousel .item {
    height: 15rem;
    /* background: #4DC7A0; */
    padding: 1rem;
}

.owl-carousel .item h4 {
    color: #FFF;
    font-weight: 400;
    margin-top: 0rem;
}