
body{
    height: auto;
    width: auto;
    margin: 0px;
    padding: 0px;
    color: #000000d9;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    font-variant: tabular-nums;
    background-color:#F0F2F5;
}

.boxshaddow{
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}

.navbar{
    height: 48px;    
}
.nav-link{
    color: #000000d9;
}
.abtcontainer{
    background-color: white;
    color: #000000d9;
    border-radius: 5px;
    margin-top: 8rem; 
}






@media screen and (min-width:1000px)
{
    /* .about-container {
        margin-top: 4rem; 
    } */
    .skill-container{
        margin-top: 3rem; 
    }
    .about-img{        
        width: 15%; 
    }
}

@media screen and (max-width:992px)
{
    /* .about-container {
        margin-top: 3rem; 
    } */
    .skill-container{
        margin-top: 2rem; 
    }
    .about-img{        
        width: 20%; 
    }
}

@media screen and (max-width:786px)
{
    .container{
        max-width: 350px!important;
    }
    .about-img{        
        width: 40%; 
    }
    .skill-container{
        margin-top: 1rem; 
    }
    .lg\:pt-2{        
        text-align: center;
    }    
    .navbar{
      height: auto;    
    }
}

@media screen and (max-width:400px)
{
    .container{
        max-width: 350px!important;
    }
    .about-img{        
        width: 50%; 
    }
}


.tFtitle{
    color: rgb(75 85 99 / var(--tw-text-opacity));
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 2rem;
}
.about-img{
    height: 100%; 
    display: flex; 
    align-items: center;
    margin: auto;    
   
}
.touhidulfahimphoto{
    border: 7px;
    border-style: solid;
    border-color: #e5e7eb;
    margin-top: -45px;
}
.txt-about{
    padding: 1rem!important;
    text-align: justify;
}
.txtTitle{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1em;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

@media (min-width: 1024px)
{
    .lg\:w-3\/5 {
        width: 60%;
    }
}
@media (min-width: 1024px)
{
    .lg\:pt-2 {
        padding-top: 0.5rem;
    }
}

@media (min-width: 768px)
{
    .md\:flex-row {
        flex-direction: row;
    }
}
@media (min-width: 1024px)
{
    .lg\:mr-2 {
        margin-right: 0.5rem;
    }
}

@media (min-width: 1024px)
{
    .lg\:mb-0 {
        margin-bottom: 0;
    }
}
body:not(.dark) .tf-layout * {
    box-sizing: border-box;
}
body:not(.dark) .tf-btn-round {
    height: 32px;
    padding: 4px 16px;
    font-size: 14px;
    border-radius: 32px;
}
.tf-btn {
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px #00000004;
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    color: #000000d9;
    border-color: #d9d9d9;
    background: #fff;
}
body:not(.dark) .tf-btn-primary {
    color: #fff;
    border-color: #1890ff;
    background: #1890ff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px #0000000b;
}

/*Resume*/

/* Resume */
.resumecontainer{
    border-radius: 5px;
}

/*Grid*/
.ant-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}
.ant-col-xs-12 {
  display: block;
  flex: 0 0 50%;
  max-width: 50%;
}
@media (min-width: 576px)
{
    .ant-col-sm-12 {
      display: block;
      flex: 0 0 50%;
      max-width: 50%;
  }
}
@media (min-width: 768px)
{
     .ant-col-md-8 {
        display: block;
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
   }
}

@media (min-width: 992px)
{
  .ant-col-lg-4 {
    display: block;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
}
@media (min-width: 1200px)
{
  .ant-col-xl-4 {
    display: block;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
}